@model AddTimesheetItemViewModel


<section class="tm-content-box">
    <div class="row margin-b-50">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="tm-section-title tm-blue-text">Dodaj wpis</h2>
            <form asp-controller="Timesheet" asp-action="Add">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label>Pracownik</label>
                    <select asp-for="UserId" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))" class="form-control"></select>
                </div>
                <hr />
                
                <div class="form-group">
                    <label>Typ</label>
                    <select asp-for="EntryTypeId" asp-items="@(new SelectList(Model.EntryTypes, "Id", "Name"))" class="form-control"></select>
                </div>
                <hr />
                <div class="form-group">
                    <label>Data</label>
                    <input asp-for="Day" type="date"
                           min="@DateTime.Today.AddMonths(-1).ToString("dd-MM-yyyy")"
                           max="@DateTime.Today.AddMonths(1).ToString("dd-MM-yyyy")"
                           value="@DateTime.Today.ToString("dd-MM-yyyy")" 
                            class="form-control"
                           />
                    <br>
                </div>
                <div class="form-group">
                    <label>Procent dnia</label>
                    <input asp-for="DayPercent" step="5" min="0" max="150" value="100" class="form-control" />
                </div>
                <hr />
                <div class="form-group">
                    <label>Komentarz</label>
                    <input asp-for="Comment" class="form-control" />
                </div>
                <button class="btn btn-primary tm-button-rounded tm-button-orange tm-button-no-border tm-button-normal" type="submit">Zapisz</button>
            </form>
        </div>
    </div>
</section>

